# GCP
GCP_PROJECT_ID=
GCP_REGION=

# GCS
GCS_RAW_BUCKET=

# BigQuery datasets
BQ_RAW_DATASET=stackoverflow_raw
BQ_TRUSTED_DATASET=stackoverflow_trusted
BQ_MARTS_DATASET=stackoverflow_marts

GOOGLE_APPLICATION_CREDENTIALS=

AIRFLOW_UID=
